<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/pico/pico.min.css">
    <title>Distributed Topology Storage</title>
</head>
<body>
<main class="container">
    <h1>Distributed Topology Storage</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <article id="error" aria-invalid="true">
                <header>Error</header>
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </article>
        {% endif %}
    {% endwith %}
    <article>
        <header>Topology succesfully selected.</header>
        <p>
            This page demonstrates the Documents API. In a real scenario, this would open in your API client (most likely a planning software).
            It would receive the following link to retrieve your selected topology:
        </p>
        <p><a href="{{ selected_documents_url }}">{{ selected_documents_url }}</a></p>
    </article>
</main>
</body>
</html>
