<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/pico/pico.min.css">
    <title>Distributed Topology Storage</title>
</head>
<body>
<main class="container">
    <h1>Distributed Topology Storage</h1>
    <article>
        <header>Topology {{ id }} </header>
        <label>
            JSON representation
            <textarea readonly>{{ topology }}</textarea>
        </label>
        <footer><a href="#" role="button">Download JSON representation</a> <a href="#" role="button">Download as PlanPro</a></footer>
    </article>
</main>
</body>
</html>
